@font-face {
	font-family: 'Inconsolata';
	src: url('assets:inconsolata.woff2') format('truetype');
	font-weight: 400;
}

head, body {
	display: none;
}

main {
	--primary: #eee;
	--secondary: #445;
	--background: #112;
	--background-split: 17, 17, 34;
	--true: #2A0;
	--false: #A00;
	--control-height: 36px;
	--blue: #29F;
	background: var(--background);
	user-select: none;
	color: var(--primary);
	font: 13px Inconsolata, monospace;
	padding: 2px 0px 2px 0px;
	opacity: 0.75;
}

main.options, main:hover {
	opacity: 1;
}

main::after {
	content: '';
	border: 2px solid var(--primary);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 0px;
}

main.mobile {
	width: 100%;
	height: 100%;
}

main * {
	outline: none;
}

.title, footer {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	height: 30px;
	line-height: 30px;
	outline: 2px solid var(--primary);
}

.title > .version {
	position: absolute;
	right: 10px;
	line-height: 30px;
	margin: auto;
	text-align: center;
}

.sections {
	display: flex;
	margin: 2px 0px;
	height: 264px;
}

.sections > .sidebar {
	height: auto;
	display: block;
	flex: none;
	border-right: 2px solid var(--secondary);
}

.sections > .sidebar > .open-section {
	height: var(--control-height);
	line-height: var(--control-height);
	text-align: center;
	margin-bottom: 2px;
	outline: 2px solid var(--secondary);
	padding: 0px 15px;
}

.sections > .sidebar > .open-section:last-of-type {
	margin-bottom: 0px;
}

.sections > .sidebar > .open-section:hover {
	background: #666;
}

section {
	overflow-y: auto;
	flex: auto;
}

section.hidden {
	display: none;
}

.control {
	white-space: pre;
	min-height: var(--control-height);
	outline: 2px solid var(--secondary);
	margin-bottom: 2px;
	display: flex;
	flex-direction: row;
	line-height: var(--control-height) !important;
}

.control.option {
	padding: 0px 10px;
}

.control.option:hover {
	background: #FFF1;
}

.control:last-of-type {
	margin-bottom: 0px;
}

.control > .keybind {
	font: 14px Inconsolata,monospace;
	text-align: center;
	color: black;
	width: 100px;
	height: 30px;
	display: block;
	position: relative;
	margin: auto 6px;
}

.control > .toggle {
	width: var(--control-height);
	text-align: center;
	border-right: 2px solid var(--secondary);
}

.control > .toggle:hover {
	background: #333;
	filter: brightness(125%);
}

.control > .toggle.true {
	background: var(--true);
}

.control > .toggle.false {
	background: var(--false);
}

.control > .label {
    flex: 1 1 0;
    padding-left: 15px;
}

.control > .slider {
	flex: 1 1 0;
	height: 28px;
	cursor: w-resize;
	background: #333;
	margin: auto 3px;
}

.control > .slider:hover {
	background: #333
}

.control > .slider > .background {
	background: #2ad;
	height: 100%
}

.control > .slider:hover .background {
	background: #4ad
}

.control > .slider::after {
	position: relative;
	height: 100%;
	text-align: center;
	display: block;
	line-height: 28px !important;
	top: -28px;
	content: attr(data-value)
}