@font-face {
	font-family: 'Inconsolata';
	src: url('assets:inconsolata.woff2') format('truetype');
	font-weight: 400;
}

body {
	--primary: #eee;
	--secondary: #445;
	--background: #112;
	--background-split: 17, 17, 34;
	--true: #2A0;
	--false: #A00;
	--control-height: 36px;
	--blue: #29F;
	display: block;
	background: rgba(var(--background-split),0.8);
	flex-direction: column;
	user-select: none;
	opacity: 0.8;
	margin: 0px;
	width: 350px;
}

body::after {
	content: '';
	border: 2px solid var(--primary);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 0px;
}

body.mobile {
	width: 100%;
	height: 100%;
	left: 0px !important;
	top: 0px !important;
}

body * {
	color: var(--primary);
	font: 13px Inconsolata, monospace;
	outline: none;
}

body:hover {
	opacity: 1;
}

.title, footer {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	height: 30px;
	line-height: 30px;
	outline: 2px solid var(--primary);
}

.title > .version {
	position: absolute;
	right: 10px;
	line-height: 30px;
	margin: auto;
	text-align: center;
}

.sections {
	display: flex;
	margin: 2px 0px;
	height: 264px;
}

.sections > .sidebar {
	width: 30%;
	height: auto;
	display: block;
	flex: none;
	border-right: 2px solid var(--secondary);
}

.sections > .sidebar > section {
	height: var(--control-height);
	line-height: var(--control-height);
	text-align: center;
	margin-bottom: 2px;
	outline: 2px solid var(--secondary);
}

.sections > .sidebar > section:last-of-type {
	margin-bottom: 0px;
}

.sections > .sidebar > section:hover {
	background: #666;
}

.sections > section {
	display: none;
	flex-direction: column;
	overflow-y: auto;
	flex: auto;
}

.sections > section.active {
	display: flex;
}

.sections > section > .control {
	min-height: var(--control-height);
	outline: 2px solid var(--secondary);
	margin-bottom: 2px;
	display: flex;
	flex-direction: row;
}

.sections > section > .control:last-of-type {
	margin-bottom: 0px;
}

.sections > section > .control > .keybind {
	font: 14px Inconsolata,monospace;
	text-align: center;
	color: black;
	width: 100px;
	height: 30px;
	display: block;
	position: relative;
	margin: auto 6px;
}

.sections > section > .control > .toggle {
	width: var(--control-height);
	text-align: center;
	line-height: var(--control-height) !important;
	border-right: 2px solid var(--secondary);
}

.sections > section > .control > .toggle:hover {
	background: #333;
	filter: brightness(125%);
}

.sections > section > .control > .toggle.true {
	background: var(--true);
}

.sections > section > .control > .toggle.false {
	background: var(--false);
}

/*.textbox {
	height: 28px;
	display: block;
	font: 14px Inconsolata, monospace;
	padding: 0px .75rem 0px 0px;
	text-align: right;
	border: 1px solid #2B4194;
	margin: auto 3px;
	color: black;
}

.control-textbox:focus {
	box-shadow: 0px 0px 0px 3px #037;
}*/

.sections > section > .control > .label {
    flex: 1 1 0;
    padding-left: 15px;
    line-height: var(--control-height)!important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sections > section > .control > .slider {
	flex: 1 1 0;
	height: 28px;
	cursor: w-resize;
	background: #333;
	margin: auto 3px;
}

.sections > section > .control > .slider:hover {
	background: #333
}

.sections > section > .control > .slider > .background {
	background: #2ad;
	height: 100%
}

.sections > section > .control > .slider:hover .background {
	background: #4ad
}

.sections > section > .control > .slider::after {
	position: relative;
	height: 100%;
	text-align: center;
	display: block;
	line-height: 28px !important;
	top: -28px;
	content: attr(data-value)
}