@font-face {
	font-family: 'Inconsolata';
	src: url('assets:inconsolata.woff2') format('truetype');
	font-weight: 400;
}

body { display: none; }
html { display: flex; }

.ss-panel {
	--primary: #eee;
	--secondary: #445;
	--background: #112;
	--background-split: 17, 17, 34;
	--true: #2A0;
	--false: #A00;
	--control-height: 36px;
	--blue: #29F;
	border: 2px solid var(--primary);
	display: flex;
	background: rgba(var(--background-split),0.8);
	flex-direction: column;
	user-select: none;
	opacity: 0.8;
	flex: 1 1 0;
}

.ss-panel.mobile {
	width: 100%;
	height: 100%;
	left: 0px !important;
	top: 0px !important;
}

.ss-panel * {
	color: var(--primary);
	font: 13px Inconsolata, monospace;
	outline: none;
}

.ss-panel:hover {
	opacity: 1;
}

.ss-panel > .title, .ss-panel > .footer {
	text-align: center;
	padding: 8px 0px;
	z-index: 5;
	position: relative;
	display: flex;
	justify-content: center;
}

.ss-panel > .title > .version {
	position: absolute;
	right: 10px;
	margin: auto;
	text-align: center;
}

.ss-panel > .sections {
	display: flex;
	border-top: 2px solid var(--primary);
	min-height: 264px;
	border-bottom: 2px solid var(--secondary);
}

.ss-panel > .sections > .sidebar {
	width: 30%;
	height: auto;
	display: block;
	flex: none;
	border-right: 2px solid var(--secondary);
}

.ss-panel > .sections > .sidebar > .section {
	height: var(--control-height);
	line-height: var(--control-height);
	text-align: center;
	border-bottom: 2px solid var(--secondary);
}

.ss-panel > .sections > .sidebar > .section:hover {
	background: #666;
}

.ss-panel > .sections > .sidebar > .section:last-of-type {
	border-bottom: none;
}

.ss-panel > .sections > .section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.ss-panel > .sections > .section > .control {
	min-height: var(--control-height);
	border-bottom: 2px solid var(--secondary);
	display: flex;
	flex-direction: row;
}

.ss-panel > .sections > .section > .control:last-of-type {
	border-bottom: none;
}

.ss-panel > .sections > .section > .control > .toggle {
	width: var(--control-height);
	text-align: center;
	line-height: var(--control-height) !important;
}

.ss-panel > .sections > .section > .control > .toggle:hover {
	background: #333;
	filter: brightness(125%);
}

.ss-panel > .sections > .section > .control > .toggle.true {
	background: var(--true);
}

.ss-panel > .sections > .section > .control > .toggle.false {
	background: var(--false);
}

/*.textbox {
	height: 28px;
	display: block;
	font: 14px Inconsolata, monospace;
	padding: 0px .75rem 0px 0px;
	text-align: right;
	border: 1px solid #2B4194;
	margin: auto 3px;
	color: black;
}

.control-textbox:focus {
	box-shadow: 0px 0px 0px 3px #037;
}*/

.ss-panel > .sections > .section > .control > .label {
	flex: 1 1 0;
	padding-left: 15px;
	line-height: var(--control-height) !important;
	border-left: 2px solid var(--secondary);
}

.ss-panel > .sections > .section > .control > .ss-slider {
	flex: 1 1 0;
	height: 28px;
	cursor: w-resize;
	background: #333;
	margin: auto 3px;
}

.ss-panel > .sections > .section > .control > .ss-slider:hover {
	background: #333
}

.ss-panel > .sections > .section > .control > .ss-slider > .background {
	background: #2ad;
	height: 100%
}

.ss-panel > .sections > .section > .control > .ss-slider:hover .background {
	background: #4ad
}

.ss-panel > .sections > .section > .control > .ss-slider::after {
	position: relative;
	height: 100%;
	text-align: center;
	display: block;
	line-height: 28px !important;
	top: -28px;
	content: attr(data-value)
}